.navigation a {
  text-decoration: none;
  color: var(--primary);
  padding: 5px 13px;
}

.navigation a:hover {
  border: 1px solid var(--primary);
  border-radius: 5px;
  background-color: var(--primary-light-opaque);
}
