.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
